/*
Theme Name: Skinwhite
Theme URL: Skinwhite.com.ph
Description: Skinwhite
Version: 1.0
Author: Wunderman Philippines

*/
body{font-family:arial, helvetica, verdana; font-size:0.8em;width:100%; height:100%;}
.header{background-color:#1be;margin-left:14%;top:0;border-width:0.1em; border-color:#999; border-style:solid; width:72%; height:250px;}
.content{background-color:#999;margin-left:14%; margin-top:5px; float:left; width:46%; border-width:0.1em; border-color:#999; border-style:solid;}
.sidebar{background-color:#1d5;margin-right:14%; margin-top: 5px; float:right; border-width:0.1em; border-color:#999; border-style:solid; top:180px; width:23%;}
.footer{background-color:red;margin-left:14%; float:left; margin-top:5px;width:72%; height:50px;border-width:0.1em; border-color:#999; border-style:solid;}
